:host-context(.explored) svg .node {
  stroke: blue;
}

:host-context(.visited) svg .node {
  stroke: green;
}

svg {
  overflow: visible;

  .node {
    fill: #777;
    stroke: #000;
    stroke-width: 1;

    &.selected {
      stroke: red;
    }

    &.empty {
      display: none;
    }
  }
}
